<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Timer</title>
    <link rel="stylesheet" href="./about.css">
</head>
<body>
    <div class="container">
        <h2>Timer</h2>
        <p>Made with Electron <span id="electron-version"></span> by <span class="link" onclick="aboutWindow.linkGithub()">Breno Rezende</span></p>
        <button onclick="aboutWindow.close()">Close</button>
    </div>

    <script src="./about.js"></script>
    <script>let aboutWindow = new about();</script>
</body>
</html>